**/__pycache__/*
**/*.egg-info
venv

*.DS_Store
cache/
data/
.eggs/
local.env

notebooks/.ipynb_checkpoints

# Exclude everything in dagster_home except the dagster.yaml config file.
dagster_home/*
!/dagster_home/dagster.yaml
