**/__pycache__/*
**/*.egg-info
venv

*.DS_Store
/usage_metrics/cache/
/usage_metrics/data/
/usage_metrics/.eggs/
/usage_metrics/local.env

/usage_metrics/notebooks/.ipynb_checkpoints

# Exclude everything in dagster_home except the dagster.yaml config file.
/usage_metrics/dagster_home/*
!/usage_metrics/dagster_home/dagster.yaml
